.center-crop{
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}


.material-icons.light{
  color:rgba(255,255,255,0.8);
}

.nav-header{
  height: 200px;
  color:#ffffff;
}


/*md-grid-list{
  margin: 20px;
}
*/
/*md-list{
  padding-top: 0px;
}*/

.location-map{
  min-height: 180px;
}

footer{
  background: #333333;
  color:#ffffff;
}

.footer-container{
  margin-right: 20px;
  margin-left: 20px;
}

footer div:first-child h4{
  margin-bottom: 0px;
}

@media(max-width:959px){
  .grid-margin{
    margin:0px
  }
}
@media(min-width:960px){
  .grid-margin{
    margin:20px
  }
}
